.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event {
  width: 50vw;
  border: 1px dashed hotpink;
  margin: 0.55em;
  padding: 2em;
}
